@import "tailwindcss";

@keyframes navWave {
  0% { transform: scaleX(0.2); }
  50% { transform: scaleX(1); }
  100% { transform: scaleX(0.2); }
}

.animate-navWave {
  animation: navWave 1.8s infinite ease-in-out;
  transform-origin: center;
}
